/*
Pre-Requisites
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


:root {
	--Soft-red: hsl(7, 99%, 70%);
	--Yellow: hsl(51, 100%, 49%);
	--Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
	--Dark-blue-photography-text: hsl(198, 62%, 26%);
	--Dark-moderate-cyan-footer: hsl(168, 34%, 41%);
	--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
	--Very-dark-grayish-blue: hsl(213, 9%, 39%);
	--Dark-grayish-blue: hsl(232, 10%, 55%);
	--Grayish-blue: hsl(210, 4%, 67%);
	--White: hsl(0, 0%, 100%);
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.attribution a:hover {
	color: Red;
}

/*
Body Styling
*/

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 3px);
}

.container {
	display: grid;
	grid-template-areas:
	"header"
	"transform"
	"stand-out"
	"display-work"
	"testimonial"
	"designs"
	"footer";
	max-width: 100%;
}

.container > div {
	margin-top: -5px;
}

/*
Container Styling
*/

.header {
	grid-area: header;
	position: relative;
}


.transform {
	grid-area: transform;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fcf7f7;
}

.stand-out {
	grid-area: stand-out;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fcf7f7;
}

.display-work {
	grid-area: display-work;
	display: flex;
	justify-content: center;
	align-items: center;
}

.testimonials {
	grid-area: testimonial;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 75px;
	padding-block: 10rem;
	background-color: #fcf7f7;
}

.gallery {
	grid-area: designs;
	display: flex;
}

.footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 60px;
	padding-block: 50px;
	background-color: var(--Dark-moderate-cyan-footer);
	margin-top: -5px;
}



/*
Header Styling
*/

.header .images {
	position: relative;
}

.header .images > span:nth-of-type(1) {
	width: 100%;
}

.header .images > span:nth-of-type(1) img {
	width: 100%;
}

.header .images > span:nth-of-type(2) {
	width: 100%;
	display: none;
}

.header .images > span:nth-of-type(2) img {
	width: 100%;
}

.header .images > span:nth-of-type(3) {
	position: absolute;
	left: 50%;
	top: 40%;
}

.header .images > span:nth-of-type(4) {
	position: absolute;
	left: 2%;
	top: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	padding-top: 20px;
}

.header .images > span:nth-of-type(4) ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
	list-style-type: none;
	font-family: 'Barlow', sans-serif;
	padding-right: 30px;
}

.header .images > span:nth-of-type(4) a {
	text-decoration: none;
	color: var(--White);
}

.header .images > span:nth-of-type(4) li:nth-of-type(4) a {
	color: var(--Very-dark-grayish-blue);
	text-transform: uppercase;
	background-color: var(--White);
	height: 40px;
	width: 85px;
	border: solid 25px var(--White);
	border-radius: 50px;
	font-family: 'Fraunces', serif;

}

.header .images > span:nth-of-type(4) li:nth-of-type(4) a:hover {
	border-color:#edece5;
	background-color: #edece5;
}

.header .images > h1 {
	position: absolute;
	top: 25%;
	left: 27.5%;
	color: var(--White);
	text-transform: uppercase;
	font-family: 'Fraunces', serif;
	font-size: 50px;
	letter-spacing: 7.5px;
}

.header .images > img {
	position: absolute;
	top: 5%;
	right: 5%;
	padding-top: 20px;
	display: none;
}

 /*
Transform Styling
 */

.transform .text-container {
	flex-basis: 50%;
	position: relative;
}

.text-container .text {
	display: flex;
	flex-direction: column;
	gap: 30px;
	position: absolute;
	top: 0;
	left: 20%;
	transform: translateX(50%);
	transform: translateY(-50%);
}

.text h2 {
	font-family: 'Fraunces', serif;
}

.text p {
	font-family: 'Barlow', sans-serif;
	color: var(--Very-dark-grayish-blue);
	font-size: 13px;
}

.text .learn-more {
	position: relative;
	width: 100px;
}

.text .learn-more a {
	text-decoration: none;
	color: black;
	font-family: 'Fraunces', serif;
	text-transform: uppercase;
	font-size: 13px;
}

.learn-more hr {
	width: 105px;
	height: 7.5px;
	background-color: var(--Yellow);
	border-radius: 7.5px;
	position: absolute;
	top: 10px;
	left: 50%;
	z-index: -1;
	transform: translateX(-50%);
	border: none;
	outline: none;
}


.transform .image {
	flex-basis: 50%;
}
.transform .image img {
	width: 100%;
}

.transform .image img:nth-of-type(2) {
	display: none;
}


/*
Stand-out Styling
*/

.stand-out .image {
	flex-basis: 50%;
}

.stand-out .image img {
	width: 100%;
}

.stand-out .image img:nth-of-type(2) {
	display: none;
}

.stand-out .text-container {
	flex-basis: 50%;
	position: relative;
}

.stand-out .text {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 30px;
	top: 0;
	left: 20%;
	transform: translateX(50%);
	transform: translateY(-50%);
}

.stand-out .text h2 {
	font-family: 'Fraunces', serif;

}

.stand-out .text p {
	font-family: 'Barlow', sans-serif;
	color: var(--Very-dark-grayish-blue);
	font-size: 13px;
}

.stand-out .text a {
	text-decoration: none;
	color: black;
	font-family: 'Fraunces', serif;
	text-transform: uppercase;
	font-size: 13px;
}

.stand-out .learn-more hr {
	width: 105px;
	height: 7.5px;
	background-color: var(--Soft-red);
	border-radius: 7.5px;
	position: absolute;
	top: 10px;
	left: 50%;
	z-index: -1;
	transform: translateX(-50%);
	border: none;
	outline: none;
}

/*
Display-work Styling
*/

.display-work .graphics {
	position: relative;
	flex-basis: 50%;
}

.graphics img {
	width: 100%;
}

.graphics img:nth-of-type(2) {
	display: none;
}

.display-work .photography {
	position: relative;
	flex-basis: 50%;
}

.photography img {
	width: 100%;
}

.photography img:nth-of-type(2) {
	display: none;
}

.graphics > span, .photography > span {
	position: absolute;
	left: 35%;
	top: 65%;
	transform: translateX(50%);
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.graphics > span h2 {
	font-family: 'Fraunces', serif;
	font-size: 30px;
	color: var(--Dark-desaturated-cyan-graphic-design-text);
}

.graphics > span p {
	font-family: 'Barlow', sans-serif;
	font-size: 11px;
	line-height: 1.5;
	color: var(--Dark-desaturated-cyan-graphic-design-text);
	text-align: center;
}

.photography > span h2 {
	font-family: 'Fraunces', serif;
	font-size: 30px;
	color: var(--Dark-blue-photography-text);
}

.photography > span p {
	font-family: 'Barlow', sans-serif;
	font-size: 11px;
	line-height: 1.5;
	color: var(--Dark-blue-photography-text);
	text-align: center;
}


/*
Testimonials Styling
*/

.testimonials > h2 {
	font-family: 'Fraunces', serif;
	text-transform: uppercase;
	font-size: 22px;
	color: var(--Dark-grayish-blue);
}

.testimonials > div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.testimonials > div	> span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.testimonials .reviews img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.testimonials .reviews article {
	color: var(--Very-dark-desaturated-blue);
	font-family: 'Barlow', sans-serif;
	text-align: center;
	font-size: 13px;
}

.testimonials .reviews span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.reviews span > h4 {
	font-family: 'Fraunces', serif;
}

.reviews span > p {
	color: var(--Dark-grayish-blue);
	font-family: 'Barlow', sans-serif;
	font-size: 12px;
}


/*
Gallery Styling
*/

.gallery > span {
	flex-basis: 25%;
}

.gallery > span > img {
	width: 100%;
}

.gallery > span > img:nth-of-type(2) {
	display: none;
}


/*
Footer Styling
*/

.footer > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
}


.footer > div:nth-of-type(1) h2 {
	font-family: 'Fraunces', serif;
	font-weight: 900;
	font-size: 40px;
	color: var(--Dark-desaturated-cyan-graphic-design-text);
}

.footer > div:nth-of-type(1) ul {
	display: flex;
	list-style-type: none;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.footer > div:nth-of-type(1) a {
	text-decoration: none;
	color: var(--Dark-desaturated-cyan-graphic-design-text);
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
}

.footer > div:nth-of-type(1) a:hover {
	color: var(--White);
}


.footer > div:nth-of-type(2) .socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.socials a {
	text-decoration: none;
	color: var(--Dark-desaturated-cyan-graphic-design-text);
}

.socials a:hover {
	color: var(--White);
}

.socials .fa-brands {
	font-size: 25px;
}


/*
Media Query
*/

@media screen and (max-width: 1200px) {
	.header .images h1 {
		font-size: 40px;
	}
}

@media screen and (max-width: 1100px) {
	.header .images h1 {
		font-size: 32px;
	}
}


@media screen and (max-width: 1000px) {
	.header .images h1 {
		font-size: 26px;
	}

	.graphics > span, .photography > span {
		left: 25%;
	}

	.testimonials > div {
		gap: 43px;
	}
}

@media screen and (max-width: 870px) {
	.text-container .text {
		left: 10%;
	}

	.graphics > span, .photography > span {
		left: 20%;
	}

	.testimonials > div {
		gap: 30px;
	}

	.testimonials .reviews article {
		font-size: 10.5px;
	}
}

@media screen and (max-width: 735px) {
	.text-container .text {
		left: 5%;
	}
}

/*
Mobile Media Query
*/

@media screen and (max-width: 700px) {
	.container {
		max-width: 450px;
		width: 98%;
	}

	.header .images > img {
		display: initial;
	}

	.header .images > span:nth-of-type(1) {
		display: none;
	}

	.header .images > span:nth-of-type(2) {
		display: initial;
	}

	.header .images > span:nth-of-type(3) {
		transform: translateX(-100%);
		top: 55%;
	}

	.header .images > span:nth-of-type(4)  nav {
		display: none;
	}

	.header .images > span:nth-of-type(4) {
		left: 5%;
	}

	.header .images > span:nth-of-type(4) img {
		width: ;
	}

	.header .images > h1 {
		font-size: 50px;
		text-align: center;
		transform: translateX(-25%);
	}

	.header .images > img {
		right: 20px;
		width: 5%;
	}

	.transform {
		flex-direction: column;
	}

	.transform .text-container {
		position: initial;
		height: 579px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.transform .text-container .text {
		position: initial;
		top: unset;
		transform: unset;
		left: unset;
		height: 579px;
		justify-content: center;
		align-items: center;
	}

	.transform .text h2 {
		font-size: 53px;
		text-align: center;
	}

	.transform .text p {
		font-size: 18px;
		font-family: 'Fraunces', serif;
		font-weight: 900;
		line-height: 2;
		width: 85%;
		text-align: center;
	}

	.transform .text p > br {
		content: "";
	}

	.learn-more .text a {
		font-size: 15px;
		font-weight: 500;
		width: 110px;
	}

	.learn-more hr {
		transform: translateX(-57%);
	}

	.transform .image {
		order: -1;
	}

	.transform .image img:nth-of-type(1) {
		display: none;
	}

	.transform .image img:nth-of-type(2) {
		display: initial;
	}

	.stand-out {
		flex-direction: column;
	}

	.stand-out .image img:nth-of-type(1) {
		display: none;
	}

	.stand-out .image img:nth-of-type(2) {
		display: initial;
	}

	.stand-out .text-container {
		position: initial;
		width: 100%;
		height: 579px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.stand-out .text-container .text {
		position: initial;
		top: unset;
		left: unset;
		transform: unset;
		height: 579px;
		justify-content: center;
		align-items: center;
	}

	.stand-out .text br {
		content: "";
	}

	.stand-out .text h2 {
		font-size: 45px;
		text-align: center;
		width: 80%;
	}

	.stand-out .text p {
    font-size: 18px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    line-height: 2;
    width: 85%;
    text-align: center;
    }

	.display-work {
		flex-direction: column;
	}

	.display-work .graphics img:nth-of-type(1) {
		display: none;
	}

	.display-work .graphics img:nth-of-type(2) {
		display: initial;
	}

	.display-work .photography {
		margin-top: -5px;
	}

	.display-work .photography img:nth-of-type(1){
		display: none;
	}

	.display-work .photography img:nth-of-type(2) {
		display: initial;
	}

	.display-work .text {
		left: 12.5%;
		top: 72.5%;
	}

	.display-work .text p {
		font-size: 17px;
		width: 100%;
	}

	.testimonials {
		padding-block: 3rem;
		gap: 60px;
	}

	.testimonials > div {
		flex-direction: column;
		gap: 60px;
	}

	.testimonials > div	> span {
		gap: 25px;
	}

	.gallery {
		flex-flow: row wrap;
	}

	.gallery > span {
		flex-basis: 50%;
		margin-top: -5px;
	}

	.gallery > span > img:nth-of-type(1) {
		display: none;
	}

	.gallery > span > img:nth-of-type(2) {
		display: initial;
	}
}

@media screen and (max-width: 455px) {
	.container {
		max-width: 300px;
		width: 98%;
		margin-inline: auto;
	}

	.header .images > h1 {
		font-size: 32px;
		transform: translateX(-20%);
	}

	.transform .text h2 {
		font-size: 33px;
	}

	.transform .text p {
		font-size: 13px;
		width: 95%;
	}

	.stand-out .text h2 {
		font-size: 30px;
	}

	.stand-out .text p {
		font-size: 13px;
		width: 90%;
	}

	.graphics .text, .photography .text {
		width: 95%;
		left: 3%;
	}

	.graphics .text p, .photography .text p {
		font-size: 13px;
	}

	.footer {
		width: 100%;
	}

	.footer > div:nth-of-type(1) > h2 {
		font-size: 35px;
	}

	.footer > div:nth-of-type(1) ul {
		gap: 22px;
	}

	.footer > div:nth-of-type(1) a {
		font-size: 14px;
	}
}


@media screen and (max-width: 300px) {
	.container {
		max-width: 280px;
		width: 99%;
	}

	.header .images > h1 {
		font-size: 28px;
	}

	.transform .text p {
		font-size: ;
		width: 98%;
	}

	.stand-out .text h2 {
		width: 95%;
	}
	.stand-out .text p {
		width: 98%;
	}
}